html,
body {
  margin:0;
  padding:0;
  height:100%;
}

.document-content {
  min-height:100%;
  height: 100%;
  position:relative;
}

.main-footer {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.banner-headline {
  position: absolute; 
  font-size: 5em; 
  top: 0; 
  left: 0; 
  padding-left: 10px; 
  padding-top: 10px;
}

.banner-subheadline-container {
  width: 100%; 
  position: absolute; 
  left: 0; 
  bottom: 0; 
  display: block;
}

.banner-subheadline {
  position: absolute; 
  font-size: 4em; 
  line-height: normal; 
  bottom: 0; 
  left: 0;  
  padding-bottom: 10px; 
  padding-left: 10px;  
  vertical-align: middle;
}

.banner-reference {
  position: absolute; 
  font-size: 2em; 
  line-height: inherit; 
  bottom: 0; 
  right: 0; 
  padding-bottom: 10px; 
  padding-right: 10px; 
  vertical-align: middle;
}

div.component {
  display: table;
}

.form-component {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.navbar {
  background: none;
  border-color: transparent;
  box-shadow: none;
}

.navbar-brand {
  padding: 10px;
  /* color: #11a7e6 !important; */
  color: white !important; 
  text-shadow: none !important;
  background: transparent !important;
  border-color: transparent;
          box-shadow: none !important;
  -webkit-box-shadow: none !important;
  
  margin-right: 20px;
}

.navbar-right {
  background-color: white;
}


.ventyxVerticalLine {
  /* border-left: medium solid #11a7e6; */
   border-left: medium solid white;
}

.navbar-left {
  padding-left: 20px;
}

.navbar-brand > img {
  padding-right: 15px;
  max-width: 140%;
  max-height: 140%;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  
  .navbar-right {
    margin-right: 0;
    padding-right: 0;
  }
}

.main-body {
  height: 100%;
}

.main-pane {
  height: 100%;
}

.column-main {
  height: 100%;
  padding-left:0px;
  padding-right:10px;
}

.column-left {
  padding-left:10px;
}

.main-panels {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin: auto
}

.panel {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .6);
  border-width: 2px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

.add-panel {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  height: 20px;
  background-color: rgba(0, 0, 0, .2);
  border-color: rgba(0, 0, 0, 1);
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  height: 237px;
}

.panel-left {
  margin-left: 0;
}

.panel-right {
  margin-right: 0;
}

.footer-panel {
  display:none;
}

.numGauge {
  width: 100%;
  height: 100%;
}

.draggable {
  cursor: move;
}

.panel-placeholder {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  height: 20px;
  background-color: rgba(0, 0, 0, .2);
  border-color: rgba(0, 0, 0, 1);
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  height: 237px;
}

.container.no-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.row.no-pad {
  padding-right:0;
  padding-left:0;
  margin-right:0;
  margin-left:0;
}

.auto-scroll-y {
/*  height: 100%;*/
  overflow-y: auto;
}

.fill-y {
  height: 100%;
}

html {
  background: url(../private_images/mySrc/tree3.jpg);
  background: url(../private_images/mySrc/tree1.jpg);
  background: url(../private_images/mySrc/tree2.jpg);
  background: url(../private_images/mySrc/abstract1.jpg);
  background: url(../private_images/mySrc/abstract2.jpg);
  background: url(../private_images/mySrc/spiderweb1.jpg);
  background: url(../private_images/ThinkStock-108797705.jpg);
  background: url(../private_images/mySrc/tree4.jpeg);
  background: url(../private_images/mySrc/abstract3.jpg);
  -mox-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.background {
  background: none;
}

.panel-heading {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 2;

  box-sizing: border-box;
  display: block;

  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #ddd;

  padding: 2px 2px 2px 2px;
  
  border-bottom-color: rgba(0, 0, 0, 0.6);
  color: #999999;
  background-color: rgba(0, 0, 0, 0.3);

  
/*
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  height: 25px;
*/
  
}

.panel-heading-me { 
/*  writing-mode: vertical-tb;*/
  -webkit-writing-mode: vertical-rl;
/*
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
*/
/*  position: absolute;*/
/*
  display: block;
  
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);

  margin: 0px;
  padding: 10px;
*/
}

.panel-widget {
  display: block;
  padding: 0px
}

.header-logo {
  content:url(../private_images/abb%20white.png);
}

.headerHamburger {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: inherit;
}

ul.dropdown-menu-form {
  color: black;
/*
  padding: 5px 10px 0;
  max-height: 300px;
  overflow-y: scroll;
*/

}
.widget-container {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
/*  padding: 5px;*/
}

.widget {
  display: inline-block; 
  height: 100%;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  vertical-align: bottom;
  width: 24%;
  text-align: center;
}

.widget-body {
  width: 100%; 
  height: 85%;
  position: relative;
}

.widget-title {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 15%;
  width: 100%; 
  
  font-size: .9em;
  font-weight: bold;
  color: #cccccc;
}

.widget-content {
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    
  -ms-flex-pack: center;
  -moz-box-pack:center;
  -webkit-box-pack: center;
  box-pack: center;
    
  -ms-flex-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
    
  text-align: center;
  vertical-align: middle;
  height: 100%;
  
  font-size: 8em;
  font-weight: bold;
}

.widget-controls {
  z-index: 999;
  width: 100%;
  position: absolute;
}

.widget-drag-overlay {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
}

.widget-drag-overlay-hidden {
  display: none;
}

.widget-no-data-overlay {
  z-index: 500;
  width: 100%;
  height: 100%;
  position: absolute;
}

.widget-notification {
  width: 75%;
  height: 75%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.widget-no-data-hidden {
  display: none;
}


.widget-placeholder {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(100, 100, 100, .2);
  border-color: rgba(200, 200, 200, 1);
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  
  display: inline-block; 
  height: 100%;
  width: 24%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.btn-left {
  display: block;
  position: absolute;
  left: 0px;
}

.btn-right {
  display: block;
  position: absolute;
  right: 0px;
}

.widget-controls-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: right;
  padding-right: 5%;
}

.widget-controls-bottom {
  bottom: 0px;
  right: 0px;
  width: 100%;
  text-align: right;
  padding-left: 5%;
}

.widget-bad {
  color: #aa0000;
}

.selected-label {
  color: #555;
}

.form-input-addon-icon {
  width: 16px;
  height: 16px;
}

.dropdown-toggle {
  border-color: #ccc;
}
.dropdown-toggle:focus {
  border-color: #ccc;
}
.dropdown-toggle:hover {
  border-color: #ccc;
}
.caret {
  color: #333;
}

.iconpicker {
  color: #333;
  border: 1px solid rgba(100, 100, 100, .90);
}

.iconpicker:hover {
  color: #333;
}

.iconpicker:focus {
  color: #333;
}

.iconpicker:active {
  color: #333;
}

.btn {
/*
  background-color: transparent;
  border-color: #ccc;
  color: #222;
*/
}

.btn:hover {
/*  background-color: transparent;*/
/*
  border-color: #777;
  color: #111;
*/
}

.config-button-active {
  background-color: black;
}

.config-button-active:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.config-button-active:focus {
  background-color: black;
  border-color: white;
  color: white;
}

.config-button-inactive {
  background-color: transparent;
}

.config-button-inactive:focus {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.config-buttons {
  display: none;
  border-color: transparent;
  color: white;
}

.config-buttons.btn-sml:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.config-buttons.btn-sml {
  line-height: 1;
  background-color: transparent;
}

.config-buttons.btn-sml:active {
  line-height: 1;
  background-color: gray;
  border-color: #555;
}

.config-button-inactive:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.config-buttons:active {
  background-color: black;
  border-color: blue;
  color: white;
}

.config-toggle-button {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.config-toggle-button:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.config-toggle-button.active {
  background-color: black;
  border-color: black;
  color: white;
}

.config-toggle-button.focus {
  border-color: black;
}

.config-toggle-button.active:hover {
  border-color: white;
}

.grid-row-buttons {
  border-color: transparent;
  background-color: transparent;
  color: #333;
}

.grid-row-button-inactive:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.grid-row-buttons:active {
  background-color: black;
  border-color: blue;
  color: #333;
}


.displayButton {
  display: inline-block;
}

.hiddenButton {
  display: none;
}

.hiddenBanner {
  display: none;
}



/* Bootbox dialog styling */
/*
.modal-content {
  background-color: rgba(0, 0, 0, .5);
  border-color: rgba(100, 100, 100, .75); 
  border-color: rgba(0, 0, 0, 0.9);
  border-width: 2px;

  color: #999999;
  background-color: rgba(200, 200, 200, 0.7);
}
*/

/*
.modal-header {
  border-bottom-color: rgba(100, 100, 100, 1);
  border-bottom-width: 2px;
  background-color: rgba(15, 15, 15, .75);
  background-color: rgba(150, 150, 150, .75);
  border-bottom-color: rgba(5, 5, 5, 0.9);
}
*/

/*
.bootbox-close-button {
  color: white;
}
*/

/*
.modal-title {
  color: white;
}
*/

/*
.modal-body {
  background-color: rgba(25, 25, 25, .75);
}
*/

/*
.bootbox-body {
  color: #aaaaaa;
}
*/

/*
.modal-footer {
  border-top-color: #999999;
  border-top-color: rgba(100, 100, 100, 1);
  border-top-color: rgba(5, 5, 5, 0.9);
  border-top-width: 2px;
}
*/

/* for a div that uses class modal-footer */
.btn.btn-primary {
}

/*
.form-control {
  background-color: white;
}

.caret {
  color: #aaa;
}

.iconpicker {
  background-color: transparent;
  border-color: #555;
  color: #ccc;
}

.iconpicker:hover {
  color: #333;
}

.iconpicker:focus {
  color: #333;
}

.iconpicker:active {
  color: #333;
}

*/

.modal-header {
  background-color: rgba(255, 255, 255, .90);
  border-bottom-color: rgba(255, 255, 255, 0.90);
}

.modal-content {
  background-color: transparent;
  border-color: rgba(255, 255, 255, .95);
  border-width: 2px;
}

.modal-footer {
  background-color: rgba(255, 255, 255, .90);
  border-top-color: rgba(255, 255, 255, 0.90);
}

.modal-body {
  background-color: rgba(255, 255, 255, .80);
  display: block;
  box-sizing: border-box;
  color: #333;
  padding: 15px;
  position: relative;
}

.pane-header {
  background-color: rgba(255, 255, 255, .90);
  border-bottom-color: rgba(255, 255, 255, 0.90);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  display: block;
  height: 56px;
  line-height: 20px;
  padding: 15px;
  width: 100%;
}

.pane-content {
  position: relative;
  background-clip: padding-box;
  border-width: 2px;
  border-color: rgba(255, 255, 255, .95);
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background-color: transparent;
  border-color: rgba(255, 255, 255, .95);
  border-width: 2px;
}

.pane-title {
  margin: 0;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.pane-body {
  background-color: rgba(255, 255, 255, .80);
  display: block;
  box-sizing: border-box;
  color: #333;
  padding: 15px;
  position: relative;
}

.pane-footer {
  background-color: rgba(255, 255, 255, .90);
  border-top-color: rgba(255, 255, 255, 0.90);
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  display: block;
}

.form-control {
  border-color: rgba(100, 100, 100, .90);
}

.selectpicker {
  border-color: rgba(100, 100, 100, .90);
}

.datepickerbutton {
  border-color: rgba(100, 100, 100, .90);
}

.bootstrap-select {
  width: 100%;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

}

.iconpicker {
  border-color: rgba(100, 100, 100, .90);
}

.btn-text {
  font-size: 8px;
}

table {
  background-color: white;
}

.activePane {
/*  display: inherit;*/
}

.hidePane {
/*  display: none;*/
}

#toast-container > div {
  -moz-box-shadow: 0 0 12px #111111;
  -webkit-box-shadow: 0 0 12px #111111;
  box-shadow: 0 0 12px #111111;
}


.c3-xgrid-line > line {
  stroke: rgba(170,170,170,.33);
}

.add-panel-container {
  height: 100%;
  position: relative;
}

.add_icon_button {
}

.panel-single-action {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 50%;
}


.plus-icon  {
  width: 100%;
  height: 100%;
  padding: 2%;
  fill: rgb(255, 255, 255);
}
