
.navbar {
  background: none;
  border-color: transparent;
  box-shadow: none;
}

.navbar-brand {
  padding: 10px;
  /* color: #11a7e6 !important; */
  color: white !important; 
  text-shadow: none !important;
  background: transparent !important;
  border-color: transparent;
          box-shadow: none !important;
  -webkit-box-shadow: none !important;
  
  margin-right: 20px;
}

.navbar-right {
  background-color: white;
}

.ventyxVerticalLine {
  /* border-left: medium solid #11a7e6; */
   border-left: medium solid white;
}

.navbar-left {
  padding-left: 20px;
}

.navbar-brand > img {
  padding-right: 15px;
  max-width: 140%;
  max-height: 140%;
}


.row {
  margin: auto
}

.panel {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .6);
  border-width: 2px;
}

.container.no-width {
  width: 100%;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}

.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

html {
/*  background: url(../private_images/ThinkStock-108797705.jpg);*/
  background: url(../private_images/mySrc/tree3.jpg);
  -webkit-background-size: cover;
  -mox-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.background {
  background: none;
}

.panel-heading-me {
/*  writing-mode: vertical-tb;*/
  -webkit-writing-mode: vertical-rl;
/*
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
*/
/*  position: absolute;*/
/*
  display: block;
  
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);

  margin: 0px;
  padding: 10px;
*/
}

.panel-widget {
  display: block;
  padding: 0px
}

.headerHamburger {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: inherit;
}

ul.dropdown-menu-form {
  color: black;
/*
  padding: 5px 10px 0;
  max-height: 300px;
  overflow-y: scroll;
*/

}
.widget-container {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
  padding: 2px;
  position: relative;
}

.widget {
  height: 100%;
  position: relative;
  float: left;
  vertical-align: bottom;
  padding: 2px;
  width: 25%;
  height: 100%;
  text-align: center;
}

.widget-bad {
  color: #aa0000;
}

.widget-number {
  box-sizing: border-box;
  display: block;
  font-size: 8em;
  font-weight: bold;
  line-height: 1;
/*
  float: none;
  vertical-align: top;
  position: relative;
  text-align: center;
*/
}

.widget-title {
  box-sizing: border-box;
  display: block;
  font-size: .9em;
  font-weight: bold;
  color: #cccccc;
  text-align: center;
  padding: 0;
}
