
.navbar {
  background: none;
  border-color: transparent;
  box-shadow: none;
}

.navbar-brand {
  padding: 10px;
  /* color: #11a7e6 !important; */
  color: white !important; 
  text-shadow: none !important;
  background: transparent !important;
  border-color: transparent;
          box-shadow: none !important;
  -webkit-box-shadow: none !important;
  
  margin-right: 20px;
}

.navbar-right {
  background-color: white;
}

.ventyxVerticalLine {
  /* border-left: medium solid #11a7e6; */
   border-left: medium solid white;
}

.navbar-left {
  padding-left: 20px;
}

.navbar-brand > img {
  padding-right: 15px;
  max-width: 140%;
  max-height: 140%;
}


.row {
  margin: auto
}

.panel {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .6);
  border-width: 2px;
}

.container.no-width {
  width: 100%;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}

.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

html {
  background: url(../private_images/mySrc/abstract1.jpg);
  background: url(../private_images/mySrc/abstract2.jpg);
  background: url(../private_images/mySrc/abstract3.jpg);
  background: url(../private_images/ThinkStock-108797705.jpg);
  background: url(../private_images/mySrc/tree3.jpg);
  background: url(../private_images/mySrc/tree1.jpg);
  background: url(../private_images/mySrc/tree2.jpg);
  background: url(../private_images/mySrc/tree4.jpeg);
  background: url(../private_images/mySrc/spiderweb1.jpg);
  -mox-background-size: cover;
  background-size: cover;
  
}

.background {
  background: none;
}

.panel-heading {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 2;

  box-sizing: border-box;
  display: block;

  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #ddd;

  padding: 2px 2px 2px 2px;
  
  border-bottom-color: rgba(0, 0, 0, 0.6);
  color: #999999;
  background-color: rgba(0, 0, 0, 0.3);

  
/*
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  height: 25px;
*/
  
}

.panel-heading-me { 
/*  writing-mode: vertical-tb;*/
  -webkit-writing-mode: vertical-rl;
/*
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
*/
/*  position: absolute;*/
/*
  display: block;
  
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);

  margin: 0px;
  padding: 10px;
*/
}

.panel-widget {
  display: block;
  padding: 0px
}

.headerHamburger {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: inherit;
}

ul.dropdown-menu-form {
  color: black;
/*
  padding: 5px 10px 0;
  max-height: 300px;
  overflow-y: scroll;
*/

}
.widget-container {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
}

.widget {
  display: inline-block; 
  box-sizing: border-box
  height: 100%;
/*
  position: relative;
  float: left;
*/
  vertical-align: bottom;
  /* padding: 2px; */
  width: 24%;
/*  height: 100%;*/
  text-align: center;
}

.widget-bad {
  color: #aa0000;
}

.widget-number {
  box-sizing: border-box;
  display: block;
  font-size: 8em;
  height: auto;
  font-weight: bold;
  line-height: 1;
/*
  float: none;
  vertical-align: top;
  position: relative;
  text-align: center;
*/
}

.widget-title {
  box-sizing: border-box;
  display: block;
  font-size: .9em;
  font-weight: bold;
  color: #cccccc;
  text-align: center;
  padding: 0;
}

.selected-label {
  color: #555;
}
.dropdown-toggle {
  border-color: #ccc;
}
.dropdown-toggle:focus {
  border-color: #ccc;
}
.dropdown-toggle:hover {
  border-color: #ccc;
}
.caret {
  color: #333;
}

.iconpicker {
  background-color: transparent;
  border-color: #ccc;
  color: #333;
}

.iconpicker:hover {
  color: #333;
}

.iconpicker:focus {
  color: #333;
}

.iconpicker:active {
  color: #333;
}

.btn {
/*
  background-color: transparent;
  border-color: #ccc;
  color: #222;
*/
}

.btn:hover {
/*  background-color: transparent;*/
/*
  border-color: #777;
  color: #111;
*/
}

.configButtonActive {
  background-color: black;
}

.configButtonActive:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.configButtonActive:focus {
  background-color: black;
  border-color: white;
  color: white;
  
}

.configButtonInactive {
  background-color: transparent;
}

.configButtonInactive:focus {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.configButtons {
  display: none;
  border-color: transparent;
  color: white;
}

.configButtons.btn-sml:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.configButtons.btn-sml {
  line-height: 1;
  background-color: transparent;
}

.configButtons.btn-sml:active {
  line-height: 1;
  background-color: gray;
  border-color: #555;
}

.configButtonInactive:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.configButtons:active {
  background-color: black;
  border-color: blue;
  color: white;
}

.configToggleButton {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.configToggleButton:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.configToggleButton.active {
  background-color: black;
  border-color: black;
  color: white;
}

.configToggleButton.focus {
  border-color: black;
}

.configToggleButton.active:hover {
  border-color: white;
}

.gridRowButtons {
  border-color: transparent;
  background-color: transparent;
  color: #333;
}

.gridRowButtonInactive:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.gridRowButtons:active {
  background-color: black;
  border-color: blue;
  color: #333;
}


.displayButton {
  display: inline-block;
}

.hiddenButton {
  display: none;
}



/* Bootbox dialog styling */
/*
.modal-content {
  background-color: rgba(0, 0, 0, .5);
  border-color: rgba(100, 100, 100, .75); 
  border-color: rgba(0, 0, 0, 0.9);
  border-width: 2px;

  color: #999999;
  background-color: rgba(200, 200, 200, 0.7);
}
*/

/*
.modal-header {
  border-bottom-color: rgba(100, 100, 100, 1);
  border-bottom-width: 2px;
  background-color: rgba(15, 15, 15, .75);
  background-color: rgba(150, 150, 150, .75);
  border-bottom-color: rgba(5, 5, 5, 0.9);
}
*/

/*
.bootbox-close-button {
  color: white;
}
*/

/*
.modal-title {
  color: white;
}
*/

/*
.modal-body {
  background-color: rgba(25, 25, 25, .75);
}
*/

/*
.bootbox-body {
  color: #aaaaaa;
}
*/

/*
.modal-footer {
  border-top-color: #999999;
  border-top-color: rgba(100, 100, 100, 1);
  border-top-color: rgba(5, 5, 5, 0.9);
  border-top-width: 2px;
}
*/

/* for a div that uses class modal-footer */
.btn.btn-primary {
}

/*
.form-control {
  background-color: white;
}

.caret {
  color: #aaa;
}

.iconpicker {
  background-color: transparent;
  border-color: #555;
  color: #ccc;
}

.iconpicker:hover {
  color: #333;
}

.iconpicker:focus {
  color: #333;
}

.iconpicker:active {
  color: #333;
}

*/

.modal-header {
  background-color: rgba(255, 255, 255, .90);
  border-bottom-color: rgba(255, 255, 255, 0.90);
}

.modal-content {
  background-color: transparent;
  border-color: rgba(255, 255, 255, .95);
  border-width: 2px;
}

.modal-footer {
  background-color: rgba(255, 255, 255, .90);
  border-top-color: rgba(255, 255, 255, 0.90);
}

.modal-body {
  background-color: rgba(255, 255, 255, .80);
  display: block;
  box-sizing: border-box;
  color: #333;
  padding: 15px;
  position: relative;
}

.pane-header {
  background-color: rgba(255, 255, 255, .90);
  border-bottom-color: rgba(255, 255, 255, 0.90);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  display: block;
  height: 56px;
  line-height: 20px;
  padding: 15px;
  width: 100%;
}

.pane-content {
  position: relative;
  background-clip: padding-box;
  border-width: 2px;
  border-color: rgba(255, 255, 255, .95);
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.pane-title {
  margin: 0;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.pane-body {
  background-color: rgba(255, 255, 255, .80);
  display: block;
  box-sizing: border-box;
  color: #333;
  padding: 15px;
  position: relative;
}

.pane-content {
  background-color: transparent;
  border-color: rgba(255, 255, 255, .95);
  border-width: 2px;
}

.pane-footer {
  background-color: rgba(255, 255, 255, .90);
  border-top-color: rgba(255, 255, 255, 0.90);
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  display: block;
}

.form-control {
  border-color: rgba(100, 100, 100, .90);
}

.iconpicker {
  border-color: rgba(100, 100, 100, .90);
}

.btn-text {
  font-size: 8px;
}

table {
  background-color: white;
}

.activePane {
/*  display: inherit;*/
}

.hidePane {
/*  display: none;*/
}