<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Test Containers</title>

    <style>
      #burndown1 { width:100%; height:200px;}
      #progress1 { width:100%; height:200px;}
  	</style>    
  </head>
  <body style="">
    flotr2.js
    <div style="height: 50%; width: 100%;">
      <div style="width: 33%; display: inline-block; box-sizing: border-box">
        <div style="width: 100%; text-align: center">
          <div id="burndown1"  style="text-align: center; width: 90%"></div>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 10px">
          BurnDown
        </div>  
      </div>
      <div style="width: 33%; display: inline-block; box-sizing: border-box">
        <div style="width: 100%; text-align: center">
          <span style="font-size: 12em; color: red">7</span>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 10px">
          Blockers
        </div>  
      </div>
      <div style="width: 33%; display: inline-block; box-sizing: border-box">
        <div id="progress1"  style="text-align: center; width: 90%"></div>
        <div style="width: 100%; text-align: center; margin-top: 10px">
          Progress
        </div>  
      </div>
    </div>
    Chart.js
    <div style="height: 50%; width: 100%;">
      <div style="width: 33%; display: inline-block; box-sizing: border-box">
        <div style="width: 100%; text-align: center">
          <canvas id="burndown2"/>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 10px">
          BurnDown
        </div>  
      </div>
      <div style="width: 33%; display: inline-block; box-sizing: border-box">
        <div style="width: 100%; text-align: center">
          <span style="font-size: 12em; color: lightgrey">0</span>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 10px">
          Blockers
        </div>  
      </div>
      <div style="width: 33%; display: inline-block; box-sizing: border-box">
        <div style="width: 100%; text-align: center">
          <canvas id="progress2"/>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 10px">
          Progress
        </div>  
      </div>
    </div>
    vis.js
    <div style="height: 50%; width: 100%;">
      <div style="width: 33%; display: inline-block; box-sizing: border-box">
        <div id="burndown3" style="width: 100%; text-align: center">
        </div>
        <div style="width: 100%; text-align: center; margin-top: 10px">
          BurnDown
        </div>  
      </div>
      <div style="width: 33%; display: inline-block; box-sizing: border-box">
        <div style="width: 100%; text-align: center">
          <span style="font-size: 12em; color: lightgrey">0</span>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 10px">
          Blockers
        </div>  
      </div>
      <div style="width: 33%; display: inline-block; box-sizing: border-box">
        <div id="progress3" style="width: 100%; text-align: center">
        </div>
        <div style="width: 100%; text-align: center; margin-top: 10px">
          Progress
        </div>  
      </div>
    </div>
    <script type="text/javascript" src="js/raphael-min.js"></script>
    <script type="text/javascript" src="js/g.raphael-min.js"></script>
    <script type="text/javascript" src="js/g.line-min.js"></script>
    <script type="text/javascript" src="js/g.pie-min.js"></script>
    <script type="text/javascript" src="js/Chart.min.js"></script>
    <script type="text/javascript" src="js/flotr2.min.js"></script>
    <script type="text/javascript" src="js/charts/burndown1.js"></script>
    <script type="text/javascript" src="js/charts/progress1.js"></script>

    <!-- rapheal.js logic -->
    <script type="text/javascript">

      var burndown3 = document.getElementById("progress3");
      var r = Raphael('progress3');
      r.piechart(
        (burndown3.offsetWidth / 2), 
        (burndown3.offsetHeight / 2), 
        (burndown3.offsetHeight / 4), 
        [1.03, 3, 4], 
        {
          stroke: "#FFFFFF",
          strokeWidth: 20,
          colors: ["#AA0000", "#CCAA00", "#00AA00", ],
        });

    </script>    
    <!-- Chart.js logic -->
    <script type="application/javascript">
      var burndownCtx = document.getElementById("burndown2").getContext("2d");
      // var burndownChart = new Chart(ctx).PolarArea(data);
      var burndownData = {
        labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
        datasets: [
          {
            label: "target",
            fillColor: "rgba(151,151,151,0.0)",
            strokeColor: "rgba(221,221,221,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]
          },
          {
            label: "trend",
            fillColor: "rgba(100,100,100,0)",
            strokeColor: "rgba(250,150,150,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]
          },
          {
              label: "actual",
              fillColor: "rgba(20,130,230,0.2)",
              strokeColor: "rgba(20,130,230,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(20,220,20,1)",
              data: [20, 18, 17, 15, 17, 16, 15, 15]
          },
        ]
      };
      var burnDownOptions = {

        ///Boolean - Whether grid lines are shown across the chart
        scaleShowGridLines : true,

        //String - Colour of the grid lines
        scaleGridLineColor : "rgba(0,0,0,.05)",

        //Number - Width of the grid lines
        scaleGridLineWidth : 1,

        //Boolean - Whether the line is curved between points
        bezierCurve : false,

        //Number - Tension of the bezier curve between points
        bezierCurveTension : 0.4,

        //Boolean - Whether to show a dot for each point
        pointDot : false,

        //Number - Radius of each point dot in pixels
        pointDotRadius : 4,

        //Number - Pixel width of point dot stroke
        pointDotStrokeWidth : 1,

        //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
        pointHitDetectionRadius : 20,

        //Boolean - Whether to show a stroke for datasets
        datasetStroke : true,

        //Number - Pixel width of dataset stroke
        datasetStrokeWidth : 2,

        //Boolean - Whether to fill the dataset with a colour
        datasetFill : true,

        //String - A legend template
        // legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

      };
          
      var burndownChart = new Chart(burndownCtx).Line(burndownData, burnDownOptions);
          
          
      var progressCtx = document.getElementById("progress2").getContext("2d");
          
      var progressData = [
        {
          value: 4,
          color:"#AA0000",
          highlight: "#FF5A5E",
          label: "Pending"
        },
        {
          value: 3,
          color: "#CCAA00",
          highlight: "#5AD3D1",
          label: "WIP"
        },
        {
          value: 1.03,
          color: "#00AA00",
          highlight: "#FFC870",
          label: "Done"
        }
      ];

      var progressOptions = {
        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke : true,

        //String - The colour of each segment stroke
        segmentStrokeColor : "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth : 2,

        //Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout : 70, // This is 0 for Pie charts

        //Number - Amount of animation steps
        animationSteps : 100,

        //String - Animation easing effect
        animationEasing : "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate : true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale : false,

        //String - A legend template
        legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
      }        
      
      new Chart(progressCtx).Doughnut(progressData, {
        animateScale: true
      });
      
    </script>
  </body>
</html>

