/*-- Chart --*/

.plus-icon  {
  fill: rgb(255, 1, 1);
  fill-opacity: .75;
}

.add-circle-circle {
  fill: rgb(1, 255, 1);
  fill-opacity: .75;
}

.add-circle-plus {
  fill: rgb(1, 1, 255);
  fill-opacity: .75;
}
